#example {
    color: red;
}
ts-wrapper {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #3a3c5a;
    background: linear-gradient(to top, #3b3d5c, #333539);
}

ts-sidebar {
    
}

ts-film-container-inner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

ts-film-item__placeholder {
    width: 150px;
    height: 220px;
    margin: 20px 10px;
}

ts-film-item {

}

ts-film-item:hover {
    background-color: rgba(0.8);
}

ts-film-image {

}

