.ts-wrapper {
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #262126;
}

.ts-wrapper-inner {
    height: 100vh;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}

.ts-wrapper__sidebar {
    width: 10%;
    height: 100%;
}

.ts-wrapper__sidebar_visible {
    width: 10%;
    height: 100%;
}

.ts-sidebar {
    width: 100%;
    height: 100%;
    display: flex;
}

.ts-sidebar-logos {
    color: #e2e2e4;
}

.ts-menu-sidebar {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100%;
    list-style: none;
    background-color: #3a3c5a;
    background: linear-gradient(to top, #3b3d5c, #333539);     
}

.ts-hidden-sidebar__inner {
    display: flex;
    flex-direction: row;   
}

.ts-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    height: 50px;
}

.ts-search {
    display: flex;
    flex-direction: row;
    align-items: center;   
    width: 50%;    
}

.ts-search-button {
    padding: 4px 10px;
    background-color: #e2e2e4;
}

.ts-search-input {
    padding: 5px 10px;
    background-color: #e2e2e4;   
    /*background: rgba(105, 130, 161, 0.9);
    color: white;*/
}

.ts-menu-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 50%;
    height: 100%;
    list-style: none;
}

.ts-menu-item {
    border-right: 1px solid gray;
    margin: 10px 0px;
    padding: 0px 10px;
}

.ts-menu-header :last-child {
    border-right: 0px solid white;
 }

 .ts-header-link {
    text-decoration: underline;
    color: azure;
}

.ts-link {
    text-decoration: underline;
    color: azure;
}

.ts-link:visited {
    color: greenyellow;
}

.ts-link:hover {
    text-decoration: none;
    color: #e2e2e4;
}


.ts-sidebar {
    background-color: #3a3c5a;
    background: linear-gradient(to top, #3b3d5c, #333539);    
}

.ts-sidebar-item {
    margin: 10px 0px;
    padding: 0px 10px;   
}


.ts-film-container-inner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.ts-film-item__placeholder {
    width: 150px;
    height: 220px;
    margin: 20px 10px;
}

.ts-film-item {

}

.ts-film-item:hover {
    background-color: rgba(0.8);
}

.ts-film-image {

}

