.ts-wrapper {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #3a3c5a;
    background: linear-gradient(to top, #3b3d5c, #333539);
}

.ts-menu {
    display: flex;
    list-style: none;
}

.ts-menu-item {
    margin: 10px 20px;
    text-decoration: none;
}

.ts-sidebar {
    
}

.ts-film-container-inner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.ts-film-item__placeholder {
    width: 150px;
    height: 220px;
    margin: 20px 10px;
}

.ts-film-item {

}

.ts-film-item:hover {
    background-color: rgba(0.8);
}

.ts-film-image {

}

